<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <!-- LESS editor -->
  <!-- This is useful to have the editor associated with all files of the LESS content-type,
       not only those which have the .less extension. -->
  <extension point="org.eclipse.ui.editors">
    <editor
      class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
      contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
      default="true"
      id="net.vtst.ow.eclipse.less.editor"
      name="%less_editor">
      <contentTypeBinding contentTypeId="net.vtst.ow.eclipse.less"/>
    </editor>
  </extension>

  <!-- Launch configuration for LESS compiler -->
  
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="%less_compiler_launch_configuration"
        delegate="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:net.vtst.ow.eclipse.less.ui.launching.LessCompilerLaunchConfigurationDelegate"
        modes="run, debug"               
        id="net.vtst.ow.eclipse.less.launching.compiler">        
    </launchConfigurationType>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <!-- If you change the icon, change it in the shortcut too! -->
    <launchConfigurationTypeImage
        icon="icons/16x16/stylesheet.gif"
        configTypeID="net.vtst.ow.eclipse.less.launching.compiler"
        id="net.vtst.ow.eclipse.less.launching.compiler.image">
    </launchConfigurationTypeImage>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="net.vtst.ow.eclipse.less.launching.compiler"
        class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:net.vtst.ow.eclipse.less.ui.launching.LessCompilerTabGroup"
        id="net.vtst.ow.eclipse.less.launching.compiler.tabgroup">
    </launchConfigurationTabGroup>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchShortcuts">
  <!-- http://dev.eclipse.org/viewcvs/viewvc.cgi/org.eclipse.jdt.debug.ui/plugin.xml?view=markup -->
  <!-- http://www.linuxtopia.org/online_books/eclipse_documentation/eclipse_platform_plug-in_developer_guide/topic/org.eclipse.platform.doc.isv/guide/eclipse_platform_plugin_debug_launch_uishortcuts.htm -->
    <shortcut
        id="net.vtst.ow.eclipse.less.launching.compiler.shortcut"
        class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:net.vtst.ow.eclipse.less.ui.launching.LessCompilerLaunchShortcut"
        label="%less_compiler_launch_configuration"
        icon="icons/16x16/stylesheet.gif"
        modes="run, debug">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="%less_file_pattern"/>
                   <test property="org.eclipse.debug.ui.matchesContentType" value="net.vtst.ow.eclipse.less"/>
                </or>
               </iterate>
             </with>
           </enablement>
       </contextualLaunch>
     </shortcut>
  </extension>
  
  <!-- Project nature -->
  
  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
        adaptable="true"
        id="net.vtst.ow.eclipse.less.ui.nature.add"
        objectClass="org.eclipse.core.resources.IProject">
      <action
          class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:net.vtst.eclipse.easyxtext.ui.nature.ToggleNatureAction"
          id="net.vtst.ow.eclipse.less.ui.nature.addAction"
          label="%less_nature_add"
          menubarPath="org.eclipse.ui.projectConfigure/additions"/>
      <visibility>
        <not>
          <objectState name="nature" value="net.vtst.ow.eclipse.less.nature"/>
        </not>
      </visibility>
    </objectContribution>
    <objectContribution
        adaptable="true"
        id="net.vtst.ow.eclipse.less.ui.nature.remove"
        objectClass="org.eclipse.core.resources.IProject">
      <action
          class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:net.vtst.eclipse.easyxtext.ui.nature.ToggleNatureAction"
          id="net.vtst.ow.eclipse.less.ui.nature.removeAction"
          label="%less_nature_remove"
          menubarPath="org.eclipse.ui.projectConfigure/additions"/>
      <visibility>
        <objectState name="nature" value="net.vtst.ow.eclipse.less.nature"/>
      </visibility>
    </objectContribution>
   </extension>

  <!-- Property pages -->

  <extension point="org.eclipse.ui.propertyPages">
    <page
      class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:net.vtst.eclipse.easyxtext.ui.validation.config.ValidatorPropertyPage"
      id="net.vtst.ow.eclipse.less.ui.properties.LessValidationPropertyPage"
      name="%less_validation_property_page"
      category="ValidationPropertiesPage"
      nameFilter="*">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="net.vtst.ow.eclipse.less.nature"/>
        </adapt>
      </enabledWhen>
    </page>
    <page
      class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:net.vtst.ow.eclipse.less.ui.properties.LessProjectPropertyPage"
      id="net.vtst.ow.eclipse.less.ui.properties.LessProjectPropertyPage"
      name="%less_project_property_page"
      category=""
      nameFilter="*">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="net.vtst.ow.eclipse.less.nature"/>
        </adapt>
      </enabledWhen>
    </page>
  </extension>
  
  <!-- Preference page -->
  
  <extension point="org.eclipse.ui.preferencePages">
    <page
      name="%less_validation_preference_page"
      class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:net.vtst.eclipse.easyxtext.ui.validation.config.ValidatorPreferencePage"
      id="net.vtst.ow.eclipse.less.ui.properties.LessValidationPreferencePage"
      category="net.vtst.ow.eclipse.less.Less">
    </page>
  </extension>
  
  <extension point="org.eclipse.ui.preferencePages">
    <page
      name="%less_autoedit_preference_page"
      class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:net.vtst.eclipse.easyxtext.ui.editor.autoedit.AutoEditPreferencePage"
      id="net.vtst.ow.eclipse.less.ui.properties.LessAutoEditPreferencePage"
      category="net.vtst.ow.eclipse.less.Less">
    </page>
  </extension>

  <!-- This is the part generated by XText. -->

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="less"
            icon="icons/16x16/stylesheet.gif"
            id="net.vtst.ow.eclipse.less.Less"
            name="Less Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="net.vtst.ow.eclipse.less.Less.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="net.vtst.ow.eclipse.less.Less.validate">
         <activeWhen>
            <reference
                    definitionId="net.vtst.ow.eclipse.less.Less.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="net.vtst.ow.eclipse.less.Less.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="net.vtst.ow.eclipse.less.Less" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="net.vtst.ow.eclipse.less.Less"
            name="LESS">
            <keywordReference id="net.vtst.ow.eclipse.less.ui.keyword_Less"/>
        </page>
        <page
            category="net.vtst.ow.eclipse.less.Less"
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="net.vtst.ow.eclipse.less.Less.coloring"
            name="Syntax Coloring">
            <keywordReference id="net.vtst.ow.eclipse.less.ui.keyword_Less"/>
        </page>
        <page
            category="net.vtst.ow.eclipse.less.Less"
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="net.vtst.ow.eclipse.less.Less.templates"
            name="Templates">
            <keywordReference id="net.vtst.ow.eclipse.less.ui.keyword_Less"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="net.vtst.ow.eclipse.less.ui.keyword_Less"
            label="Less"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="net.vtst.ow.eclipse.less.Less.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="net.vtst.ow.eclipse.less.Less.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="net.vtst.ow.eclipse.less.Less.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="net.vtst.ow.eclipse.less.Less.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="net.vtst.ow.eclipse.less.Less.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="less">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="less">
        </resourceServiceProvider>
    </extension>



   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="net.vtst.ow.eclipse.less.Less.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="net.vtst.ow.eclipse.less.Less.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="net.vtst.ow.eclipse.less.Less.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="net.vtst.ow.eclipse.less.Less.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="net.vtst.ow.eclipse.less.Less.compare.contentViewers"
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="less">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="net.vtst.ow.eclipse.less.Less.compare.contentMergeViewers"
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="less" label="Less Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="net.vtst.ow.eclipse.less.Less.editors.documentProviders"
            class="net.vtst.ow.eclipse.less.ui.LessExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="less">
    </provider>
  </extension>

</plugin>
