<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- ******************************************************************** -->
  <!-- Builder                                                              -->

  <extension 
    point="org.eclipse.core.resources.builders"
    id="closureBuilder"
    name="Closure JavaScript Builder">
    <builder hasNature="true">
      <run class="net.vtst.ow.eclipse.js.closure.builder.ClosureBuilder"/>
    </builder>
  </extension>

  <extension
    point="org.eclipse.core.resources.natures"
    id="closureNature"
    name="Closure JavaScript Nature">
    <runtime>
      <run class="net.vtst.ow.eclipse.js.closure.builder.ClosureNature"/>
    </runtime>
    <builder id="net.vtst.ow.eclipse.js.closure.closureBuilder"/>
  </extension>

  <!-- ******************************************************************** -->
  <!-- Completion proposal computer                                         -->
   
  <extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
    id="ClosureCompletionProposalCategory"
    name="%closure_completion_proposal_category">
    <proposalCategory icon="icons/16x16/closure.png"/>
  </extension>
   
  <extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
    id="ClosureCompletionProposalComputer"
    name="%closure_completion_proposal_computer">
    <javaCompletionProposalComputer
      class="net.vtst.ow.eclipse.js.closure.contentassist.ClosureCompletionProposalComputer"
      categoryId="net.vtst.ow.eclipse.js.closure.ClosureCompletionProposalCategory">
      <partition type="__dftl_partition_content_type"/>
    </javaCompletionProposalComputer>
  </extension>
  
  <extension point="org.eclipse.core.resources.markers" id="compiler-error">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <persistent value="true"/>
  </extension>  

  <extension point="org.eclipse.core.resources.markers" id="linter-error">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <persistent value="false"/>
  </extension>  
  
  <!-- ******************************************************************** -->
  <!-- Launch configuration for Closure Compiler                            -->
  
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="%closure_compiler_launch_configuration"
        delegate="net.vtst.ow.eclipse.js.closure.launching.compiler.ClosureCompilerLaunchConfigurationDelegate"
        modes="run, debug"               
        id="net.vtst.ow.eclipse.js.closure.launching.compiler">        
    </launchConfigurationType>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <!-- If you change the icon, change it in the shortcut too! -->
    <!-- Image to be changed -->
    <launchConfigurationTypeImage
        icon="icons/16x16/closure.png"
        configTypeID="net.vtst.ow.eclipse.js.closure.launching.compiler"
        id="net.vtst.ow.eclipse.js.closure.launching.compiler.image">
    </launchConfigurationTypeImage>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="net.vtst.ow.eclipse.js.closure.launching.compiler"
        class="net.vtst.ow.eclipse.js.closure.launching.compiler.ClosureCompilerTabGroup"
        id="net.vtst.ow.eclipse.js.closure.launching.compiler.tabgroup">
    </launchConfigurationTabGroup>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        id="net.vtst.ow.eclipse.js.closure.launching.compiler.shortcut"
        class="net.vtst.ow.eclipse.js.closure.launching.compiler.ClosureCompilerLaunchShortcut"
        label="%closure_compiler_launch_configuration"
        icon="icons/16x16/closure.png"
        modes="run, debug">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <and>
                     <instanceof value="org.eclipse.core.resources.IFile"/>
                     <or>
                       <test property="org.eclipse.debug.ui.matchesPattern" value="%js_file_pattern"/>
                       <test property="org.eclipse.debug.ui.matchesContentType" value="org.eclipse.wst.jsdt.core.jsSource"/>
                     </or>
                   </and>
                   <and>
                     <instanceof value="org.eclipse.core.resources.IProject"/>
                     <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.wst.jsdt.core.jsNature"/>
                   </and>
                </or>
               </iterate>
             </with>
           </enablement>
       </contextualLaunch>
     </shortcut>
  </extension>

  <!-- ******************************************************************** -->
  <!-- Launch configuration for Closure Linter                              -->
  
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="%closure_linter_launch_configuration"
        delegate="net.vtst.ow.eclipse.js.closure.launching.linter.ClosureLinterLaunchConfigurationDelegate"
        modes="run, debug"               
        id="net.vtst.ow.eclipse.js.closure.launching.linter">        
    </launchConfigurationType>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <!-- If you change the icon, change it in the shortcut too! -->
    <!-- Image to be changed -->
    <launchConfigurationTypeImage
        icon="icons/16x16/closure.png"
        configTypeID="net.vtst.ow.eclipse.js.closure.launching.linter"
        id="net.vtst.ow.eclipse.js.closure.launching.linter.image">
    </launchConfigurationTypeImage>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="net.vtst.ow.eclipse.js.closure.launching.linter"
        class="net.vtst.ow.eclipse.js.closure.launching.linter.ClosureLinterTabGroup"
        id="net.vtst.ow.eclipse.js.closure.launching.linter.tabgroup">
    </launchConfigurationTabGroup>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        id="net.vtst.ow.eclipse.js.closure.launching.linter.shortcut"
        class="net.vtst.ow.eclipse.js.closure.launching.linter.ClosureLinterLaunchShortcut"
        label="%closure_linter_launch_configuration"
        icon="icons/16x16/closure.png"
        modes="run, debug">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <and>
                     <instanceof value="org.eclipse.core.resources.IFile"/>
                     <or>
                       <test property="org.eclipse.debug.ui.matchesPattern" value="%js_file_pattern"/>
                       <test property="org.eclipse.debug.ui.matchesContentType" value="org.eclipse.wst.jsdt.core.jsSource"/>
                     </or>
                   </and>
                   <and>
                     <instanceof value="org.eclipse.core.resources.IProject"/>
                     <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.wst.jsdt.core.jsNature"/>
                   </and>
                </or>
               </iterate>
             </with>
           </enablement>
       </contextualLaunch>
     </shortcut>
  </extension>

  <!-- ******************************************************************** -->
  <!-- Project properties                                                   -->

  <extension point="org.eclipse.ui.propertyPages">
    <page
      class="net.vtst.ow.eclipse.js.closure.properties.ClosureMainConfigurationPropertyPage"
      category="org.eclipse.wst.jsdt.internal.ui.preferences.JavaScriptMainPage"
      id="net.vtst.ow.eclipse.js.closure.properties.ClosureMainConfigurationPropertyPage"
      name="%closure_property_page"
      nameFilter="*">
      <!-- The property page is enabled for all projects having the jsNature, because
           it is used to enable or disable the closure nature. -->
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.wst.jsdt.core.jsNature"/>
        </adapt>
      </enabledWhen>
    </page>
    <page
      class="net.vtst.ow.eclipse.js.closure.properties.ClosureIncludesPropertyPage"
      category="net.vtst.ow.eclipse.js.closure.properties.ClosureMainConfigurationPropertyPage"
      id="net.vtst.ow.eclipse.js.closure.properties.ClosureIncludesPropertyPage"
      name="%closure_includes_property_page"
      nameFilter="*">
      <!-- The property page is enabled for all projects having the jsNature, because
           it is used to enable or disable the closure nature. -->
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.wst.jsdt.core.jsNature"/>
        </adapt>
      </enabledWhen>
    </page>
    <page
      class="net.vtst.ow.eclipse.js.closure.properties.ClosureCompilerChecksPropertyPage"
      category="net.vtst.ow.eclipse.js.closure.properties.ClosureMainConfigurationPropertyPage"
      id="net.vtst.ow.eclipse.js.closure.properties.ClosureCompilerChecksPropertyPage"
      name="%closure_compiler_checks_property_page"
      nameFilter="*">
      <!-- The property page is enabled for all projects having the jsNature, because
           it is used to enable or disable the closure nature. -->
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.wst.jsdt.core.jsNature"/>
        </adapt>
      </enabledWhen>
    </page>
    <page
      class="net.vtst.ow.eclipse.js.closure.properties.ClosureLinterChecksPropertyPage"
      category="net.vtst.ow.eclipse.js.closure.properties.ClosureMainConfigurationPropertyPage"
      id="net.vtst.ow.eclipse.js.closure.properties.ClosureLinterChecksPropertyPage"
      name="%closure_linter_property_page"
      nameFilter="*">
      <!-- The property page is enabled for all projects having the jsNature, because
           it is used to enable or disable the closure nature. -->
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.wst.jsdt.core.jsNature"/>
        </adapt>
      </enabledWhen>
    </page>
  </extension>
  
  <!-- ******************************************************************** -->
  <!-- Preferences                                                          -->
  
  <extension point="org.eclipse.ui.preferencePages">
    <page
      name="%closure_preference_page"
      class="net.vtst.ow.eclipse.js.closure.preferences.ClosurePreferencePage"
      id="net.vtst.ow.eclipse.js.closure.ClosurePreferencePage"
      category="org.eclipse.wst.jsdt.ui.preferences.JavaBasePreferencePage">
      <keywordReference id="org.eclipse.wst.jsdt.ui.general"/>
    </page>
  </extension>
  
  <extension point="org.eclipse.ui.keywords">
    <keyword
      label="%closure_preference_keyword"
      id="org.eclipse.wst.jsdt.ui.general"/>
  </extension>
  
</plugin>
